 <!DOCTYPE html>
<html>
<head>
	<title>MedicaMent - Login</title>

	<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
	<script
			  src="https://code.jquery.com/jquery-3.1.0.slim.js"
			  integrity="sha256-L6ppAjL6jgtRmfiuigeEE5AwNI2pH/X9IBbPyanJeZw="
			  crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
	<div class='row' id='header'>
		<div class="col-md-12">
			<nav class="navbar navbar-default navbar-static-top" style="background-color:green">
				<a class="navbar-brand" style="color:white" href="/">MedicaMent</a> <a href="/logout"><p class="navbar-text" style="text-align:right;color:white">Sair</p></a>
			</nav>
		</div>
		
	</div>
	<div class='row' id='content'>
		<div class="col-md-2" id="menu">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Navegar</h3>
				  	</div>
				  	<div class="panel-body">
						<div class="list-group">
							  <button type="button" class="list-group-item">Perfil</button>
							  <button type="button" class="list-group-item" onclick="consultas()">Consultas</button>
							 
						</div>
				  	</div>
				</div>

			<script>
				var consultas = function(){
						location.assign("https://localhost:443/consultas")
				};
				
			</script>
		</div>
		<div class="col-md-10">
			 <%- body %>
		</div>
	</div>
	
</body>
</html> 