<!DOCTYPE html>
<div ng-app="consultas" ng-controller="consultasController">
	<div class="row">
		<div class="col-md-12">

			<div class="panel panel-primary" style =" margin: auto; border-color:green;">
			  <div class="panel-heading" style="background-color:green">Consultas</div>
			  <div class="panel-body">
			   		<table class= "table table-striped table-bordered table-hover">
							<thead>
								<th style='width:5%;'>N</th> <th style='width:30%;'>Paciente</th> <th style='width:25%;'>Data da Última Consulta</th> <th style='width:25%';>Data Nova Consulta</th> <th style='width:15%;'>Acompanhamento</th>     
							</thead>
							<tbody>
							</tbody>
			   		</table>
				</div>
			</div>
		</div class="col-md-12">
	</div>
	</br>
	<div class="row">
		<div class="col-md-4">
	  			<button type="submit" class="btn btn-default" ng-click="nova_consulta()">Nova Consulta</button>
	  	</div>
	</div>
</div>
<script>
var app = angular.module('consultas',[]);
//var dateFormat = require('dateformat');
app.controller('consultasController', function($scope,$http,$filter){
	
	$scope.nova_consulta = function(){
		console.log("Nova Consulta");
		location.assign("http://localhost:1337/nova_consulta")
		console.log("OK");
				
	};

});

</script>