 <!DOCTYPE html>
<div ng-app="novaConsulta" ng-controller="novaConsultaController">
	<div class="col-md-12">

		<div class="panel panel-primary" style =" margin: auto; border-color:green;">
		 	
		 	<div class="panel-heading" style="background-color:green">Nova Consulta </div>
		  	<div class="panel-body">
		  		<div class="panel-group">
			  		<div class="panel panel-primary" style ="  border-color:green;">
					 	<div class="panel-heading" style="background-color:green" ng-click="collapsePanel('panelPaciente','iconPaciente')">Paciente <span id="iconPaciente" class="glyphicon glyphicon-menu-up" aria-hidden="true"></span> </div>
					  	<div id="panelPaciente" class="panel-body panel-collapse collapse in">
					  		<div class="col-md-12">
					  			<% include consultas/paciente %>
						   	</div>
						</div>
					</div>
				</div>
				<div class="panel-group">
					<div class="panel panel-primary" style =" border-color:green;">
					 	<div class="panel-heading" style="background-color:green" ng-click="collapsePanel('panelConsulta','iconConsulta')">Consulta <span id="iconConsulta" class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></div>
					  	<div id="panelConsulta" class="panel-body panel-collapse collapse in">
					  		<div class="col-md-12">
						  		<% include consultas/consulta %>
						   	</div>
						</div>
					</div>
				</div>
		   		
				<!--<div class="panel-grup" role="tablist" aria-multiselectable="true" style ="border-color:green;">-->
				<div class="panel-group">
					<div class="panel panel-primary" style =" border-color:green;">
					 	<div class="panel-heading" style="background-color:green;" ng-click="collapsePanel('panelPrescricoes','iconPrescricoes')">Prescrições <span id="iconPrescricoes" class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></div>
					  	<div id="panelPrescricoes" class="panel-body panel-collapse collapse in">
					  		<div class="col-md-12">
						  		<% include consultas/prescricao %>
						   	</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
				  		<button  class="btn btn-default" ng-click="edit = !edit; update = true;" ng-disabled='!edit' ng-hide='!edit'>Editar</button>
				  	
				  		<button  class="btn btn-default" ng-click="" ng-hide='!update'>
				  			Atualizar</button>
				  	
				  		<button  class="btn btn-default" ng-click="edit = !edit; update = false	"  ng-hide='!update'>Cancelar</button>
					  	
				  	</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
var app = angular.module('novaConsulta',['ngCookies']);
//var dateFormat = require('dateformat');
app.controller('novaConsultaController', function($scope,$http,$filter,$cookies){
	
	var paciente_cpf = null;
	var consulta_id = null;
	var date = new Date();
	$scope.edit = false;
	$scope.update = false;

	$scope.cData = $filter('date')( date ,'dd/MM/yyyy');
	$scope.rDate  = $filter('date')(date.setMonth(date.getMonth()+6),'dd/MM/yyyy');

	$scope.collapsePanel = function(panelId, iconId){
		var element = document.getElementById(panelId);
		element.classList.toggle('in');

		if(element.classList.contains('in')){
			document.getElementById(iconId).classList.remove("glyphicon-menu-down");
			document.getElementById(iconId).classList.add("glyphicon-menu-up");
		}else{
			document.getElementById(iconId).classList.remove("glyphicon-menu-up");
			document.getElementById(iconId).classList.add("glyphicon-menu-down");
		}
	};

	$scope.pSalvar = function(){
	
		//console.log(date);
		var pNasc = $scope.pNasc.split('/');
		pNasc = pNasc[2]+'-'+pNasc[1]+'-'+(Number(pNasc[0])+1);
		//console.log(typeof(parseInt($scope.pNumero)));

		var parameters = JSON.stringify({ pNome:$scope.pNome,
			 pEmail:$scope.pEmail,
			 pRG:$scope.pRG,
			 pCPF:$scope.pCPF,
			 pTelefone:$scope.pTelefone,
			 pEstado:$scope.pEstado,
			 pCidade:$scope.pCidade,
			 pBairro:$scope.pBairro,
			 pRua:$scope.pRua,
			 pNumero:$scope.pNumero,
			 pCEP:$scope.pCEP,
			 pNas:pNasc});

			console.log(parameters);

			$http.post("/novo_paciente", parameters).
				success(function(data, status, headers, config) {
					// this callback will be called asynchronously
					// when the response is available
					//console.log(data);
					console.log("Novo Paciente: 0K");
					paciente_cpf = data.paciente_id;
					console.log(paciente_cpf);
				  }).
				  error(function(data, status, headers, config) {
					// called asynchronously if an error occurs
					// or server returns response with an error status.
					console.log("Login Error");
					//
				  });
	};

	$scope.cSalvar = function(){
	
		//console.log(date);
		var rDate = $scope.rDate;
		if(rDate.length>0){
			rDate = $scope.rDate.split('/');
			rDate = rDate[2]+'-'+rDate[1]+'-'+(Number(rDate[0])+1);
		}



		var parameters = JSON.stringify({ 
			cLocal: $scope.cLocal,
			pTemp: $scope.pTemp,
			pPeso: $scope.pPeso,
			pAlt: $scope.pAlt,
			cObs: $scope.cObs,
			cDiag: $scope.cDiag,
			cDateR: rDate,
			acomp:$scope.acomp,
			paciente: paciente_cpf});

			console.log(parameters);
			
			$http.post("/nova_consulta", parameters).
				success(function(data, status, headers, config) {
					// this callback will be called asynchronously
					// when the response is available
					console.log(data);
					consulta_id = data.consulta_id;
					console.log("Nova Consulta: 0K");
				
				  }).
				  error(function(data, status, headers, config) {
					// called asynchronously if an error occurs
					// or server returns response with an error status.
					console.log("Login Error");
					//
				  });
	};

	$scope.pLocalizar = function(){
	
		//console.log(date);
		var parameters = JSON.stringify({ 
			pCpf:$scope.pCPF}
			);

			console.log(parameters);

			$http.post("/pesquisar_paciente", parameters).
				success(function(data, status, headers, config) {
					// this callback will be called asynchronously
					// when the response is available
					console.log(status)
					console.log(data);
					if(data){
						$scope.pNome = data.nome;
						$scope.pEmail = data.email;
						$scope.pRG  = data.rg;
						$scope.pCPF  = data.cpf;
						$scope.pTelefone = data.telefone;
						$scope.pEstado = data.estado;
						$scope.pCidade = data.cidade;
						$scope.pBairro = data.bairro;
						$scope.pRua = data.rua;
						$scope.pNumero = data.numero;
						$scope.pCEP = data.cep;
						$scope.pNasc = $filter('date')(data.nascimento,'dd/MM/yyyy');
						paciente_cpf = data.cpf;	
					}
					

				}).
				error(function(data, status, headers, config) {
					// called asynchronously if an error occurs
					// or server returns response with an error status.
					//
				});
	};

	$scope.prAdcionar = function(id){
		//console.log($scope['prMedicamento'+id]);
		//console.log(date);
		var parameters = JSON.stringify({ 
			medicamento: $scope['prMedicamento'+id],
			concentracao: $scope['prConcentracao'+id],
			dosagem: $scope['prDosagem'+id],
			dosagem_tipo: $scope['prDosagemTipo'+id],
			turno_matutino: $scope['prMatutino'+id]?true:false,
			turno_vespertino: $scope['prVespertino'+id]?true:false,
			turno_noturno: $scope['prNoturno'+id]?true:false,
			periodo: $scope['prPeriodo'+id],
			periodo_tipo: $scope['prPeriodoTipo'+id],
			duracao: $scope['prDuracao'+id],
			duracao_tipo: $scope['prDuracaoTipo'+id],
			consulta: consulta_id
		});

			console.log(parameters);

			$http.post("/adcionar_prescricao", parameters).
				success(function(data, status, headers, config) {
					// this callback will be called asynchronously
					// when the response is available
					console.log("Prescrição Adcionada!");

				}).
				error(function(data, status, headers, config) {
					// called asynchronously if an error occurs
					// or server returns response with an error status.
					console.log("Erro!!!");
				});
	};

	loadPaciente = function(data){
		$scope.pNome = data.nome;
		$scope.pEmail = data.email;
		$scope.pRG = data.rg;
		$scope.pCPF = data.cpf;
		$scope.pTelefone = data.telefone;
		$scope.pEstado = data.estado;
		$scope.pCidade = data.cidade;
		$scope.pBairro = data.bairro;
		$scope.pRua = data.rua;
		$scope.pNumero = data.numero;
		$scope.pCEP = data.cep;
		$scope.pNasc = $filter('date')(new Date(data.nascimento),'dd/MM/yyyy');
	};

	loadPrescricao = function(data, id){
		//console.log(data);
		//$scope['prMedicamento'+id] = "test";
		$scope['prMedicamento'+id]=data.medicamento;
		$scope['prConcentracao'+id] = data.concentracao;
		$scope['prDosagem'+id] = data.dosagem;
		$scope['prDosagemTipo'+id] = data.dosagem_tipo;
		$scope['prMatutino'+id] = data.turno_matutino;
		$scope['prVespertino'+id] = data.turno_vespertino;
		$scope['prNoturno'+id] = data.turno_noturno;
		$scope['prPeriodo'+id] = data.periodo;
		$scope['prPeriodoTipo'+id] = data.periodo_tipo;
		$scope['prDuracao'+id] = data.duracao;
		$scope['prDuracaoTipo'+id] = data.duracao_tipo;
	};

	loadConsulta = function(consulta){
		$scope.cLocal = consulta.local.nome;
		$scope.pTemp = consulta.temperatura;
		$scope.pPeso = consulta.peso;
		$scope.pAlt = consulta.altura;
		$scope.cObs = consulta.obs;
		$scope.cDiag = consulta.diag;
		$scope.rDate = $filter('date')(new Date(consulta.data_revisao),'dd/MM/yyyy');
		$scope.acomp = consulta.acompanhamento;
		$scope.cData = $filter('date')( new Date(consulta.data) ,'dd/MM/yyyy');
}

	loadData = function (id){
		var parameters = JSON.stringify({ id:id});

		$http.post("/get_consulta_info",parameters).
		success(function(data, status, headers, config) {
			console.log(data);
			console.log("Load Consulta");
			var consulta = data.consulta;

			loadConsulta(data.consulta);

			loadPaciente(consulta.paciente);

			var presc_n = 0;

			while(presc_n < data.prescricoes.length){
				console.log(data.prescricoes[presc_n]);
				loadPrescricao(data.prescricoes[presc_n], presc_n+1);
				presc_n++;
			}

			
		  }).
		  error(function(data, status, headers, config) {
			// called asynchronously if an error occurs
			// or server returns response with an error status.
			console.log("Login Error");
			console.log(data);
			//
		  });

	};
	
	init = function(){
		var id = $cookies.get('consultaId');
		console.log("id:"+id); 
		if(id){
			$cookies.remove('consultaId');
			console.log("Getting Consulta")
			$scope.edit = true;
			loadData(id);
		}
	};

	iniciarPacienteTest = function(){
		$scope.pNome = 'test';
		$scope.pEmail  = 'test@test.com';
		$scope.pRG  = '123456';
		$scope.pCPF  = '123456';
		$scope.pTelefone = '123456';
		$scope.pEstado = 'BA';
		$scope.pCidade = 'test';
		$scope.pBairro = 'test';
		$scope.pRua = 'test';
		$scope.pNumero = 123;
		$scope.pCEP = '123456';
		$scope.pNasc = '12/03/1991';
	};

	iniciarConsultaTest = function(){
		$scope.cLocal = 'Unimed';
		$scope.pTemp = '27.9';
		$scope.pPeso = '60';
		$scope.pAlt = '1.70';
		$scope.cObs = 'Observação';
		$scope.cDiag = 'Diagnostico';
	};

	init();

	//iniciarConsultaTest();
	//iniciarPacienteTest();

});

</script>