 <!DOCTYPE html>
<div ng-app="novaConsulta" ng-controller="novaConsultaController">
	<div class="modal fade" id="alert_modal" role="dialog">
	    <div class="modal-dialog modal-sm">
	      <div class="modal-content">
	        <div class="modal-header" style="background-color:green; color:white;">
	          <h4 class="modal-title">{{modal_title}}</h4>
	        </div>
	        <div class="modal-body">
	          <p>{{modal_body}}</p>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
	        </div>
	      </div>
	    </div>
  </div>
  <div class="modal fade" id="finalizar_modal" role="dialog">
	    <div class="modal-dialog modal-sm">
	      <div class="modal-content">
	        <div class="modal-header" style="background-color:green; color:white;">
	          <h4 class="modal-title">Atenção</h4>
	        </div>
	        <div class="modal-body">
	          <p>Deseja Finalizar Consulta?</p>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-default" ng-click="voltar()">Sim</button>
	          <button type="button" class="btn btn-default" data-dismiss="modal">Não</button>
	        </div>
	      </div>
	    </div>
  </div>
  <% include consultas/modal %>
	<div class="col-md-12">

		<div class="panel panel-primary" style =" margin: auto; border-color:green;">
		 	
		 	<div class="panel-heading" style="background-color:green">Nova Consulta </div>
		  	<div class="panel-body">
		  		<div class="panel-group">
		  			<button type="button" ng-hide="!msg_paciente"class="btn btn-default " data-toggle="modal" data-target="#msgModal">Abrir Mensagem</button></br></br>
			  		<div class="panel panel-primary" style ="  border-color:green;">
					 	<div class="panel-heading" style="background-color:green" ng-click="collapsePanel('panelPaciente','iconPaciente',true)">Paciente <span id="iconPaciente" class="glyphicon glyphicon-menu-up" aria-hidden="true"></span> </div>
					  	<div id="panelPaciente" class="panel-body panel-collapse collapse in">
					  		<div class="col-md-12">
					  			<% include consultas/paciente %>
						   	</div>
						</div>
					</div>
				</div>
				<div class="panel-group">
					
					<div class="panel panel-primary" style =" border-color:green;">
					 	<div class="panel-heading" style="background-color:green" ng-click="collapsePanel('panelConsulta','iconConsulta',show_consulta)">Consulta <span id="iconConsulta" class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></div>
					  	<div id="panelConsulta" class="panel-body panel-collapse collapse">
					  		<div class="col-md-12">
						  		<% include consultas/consulta %>
						   	</div>
						</div>
					</div>
				</div>
		   		
				<!--<div class="panel-grup" role="tablist" aria-multiselectable="true" style ="border-color:green;">-->
				<div class="panel-group">
					<div class="panel panel-primary" style =" border-color:green;">
					 	<div class="panel-heading" style="background-color:green;" ng-click="collapsePanel('panelPrescricoes','iconPrescricoes',show_prescricoes)">Prescrições <span id="iconPrescricoes" class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></div>
					  	<div id="panelPrescricoes" class="panel-body panel-collapse collapse">
					  		<div id="prPai" class="col-md-12">
						  		<% include consultas/prescricao %>
						   	</div>
						   	<div class="row">
								<div class="col-md-12">
							  		<button  class="btn btn-default" ng-click="edit = !edit; update = true;" ng-disabled='!edit' ng-hide='!edit'>Editar</button>
							  		<button  class="btn btn-default" ng-click="adicionar = false; addMecicamento();" ng-disabled='' ng-hide=''>Adicionar</button>
							  		<button  class="btn btn-default" ng-click="edit = !edit; update = false	"  ng-hide='!update'>Cancelar</button>

							  	</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
				  		<button  class="btn btn-default" ng-click="" ng-hide="edit || update" data-toggle="modal" data-target="#finalizar_modal">Finalizar</button>	
				  		<button  class="btn btn-default" ng-click="voltar()"  ng-hide='edit'>Cancelar</button>
				  	</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/js/nova_consulta.js"></script>