<!DOCTYPE html>
<!-- Modal -->
<div class="modal fade" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="msgModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color:green; color:white;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="msgModalLabel">Mensagem</h4>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
                        
            <textarea style="width: 500px; height: 150px; padding-left:30px;" class="form-control"  disabled >{{msg_paciente}}</textarea>
           
        </div>      
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeMsg()">Fechar</button>
      </div>
    </div>
  </div>
</div>