 <!DOCTYPE html>
<div class="panel panel-default">
 	<div class="panel-heading" role="tab" id="headingOne" style="background-color:green">
 		<a class='colapssed' role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Medicamento #1</a>
 	</div>
 	<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
 		<div class="panel-body">
	  		<div class="col-md-12">
		  		<!-- Prepended text-->
		  		<div calss='row'>
		  			<div class="col-md-8">
						
					
						    <div class="input-group">
						      <span class="input-group-addon">Nome</span>
						      <input id="prependedtext" name="prependedtext" class="form-control" placeholder="" required="" type="text">
						    </div>
						    
						
						
					</div>
					<div class="col-md-4">
					<!-- Prepended text-->
						
						  
						    <div class="input-group">
						      <span class="input-group-addon">Concentração</span>
						      <input id="concInput" name="concInput" class="form-control" placeholder="" type="text">
						    </div>
						    
						 
						
					</div>
				</div></br></br>

				<div class="row">
					<div class="col-md-12">

					<!-- Prepended text-->
						
						 
						<div class="col-md-2">
						    <div class="input-group">
						      <span class="input-group-addon">Dosagem</span>
						      <input id="dosInput" name="dosInput" class="form-control" placeholder="" required="" type="text">
						    </div>
						    
						</div>
						

						<!-- Select Basic -->
						
						  
						<div class="col-md-2">
						    <select id="selectbasic" name="selectbasic" class="form-control">
						      <option value="1">unidades</option>
						      <option value="2">ml</option>
						      <option value="3">colheres</option>
						    </select>
						</div>

						<div class="col-md-8">
						<!-- Multiple Checkboxes (inline) -->
							<div class="form-group">
							  <label class="col-md-2 control-label" for="turnoInput">Turno:</label>
							  <div class="col-md-6">
							    <label class="checkbox-inline" for="turnoInput-0">
							      <input name="turnoInput" id="turnoInput-0" value="1" type="checkbox">
							      Matutino
							    </label>
							    <label class="checkbox-inline" for="turnoInput-1">
							      <input name="turnoInput" id="turnoInput-1" value="2" type="checkbox">
							      Vespertino
							    </label>
							    <label class="checkbox-inline" for="turnoInput-2">
							      <input name="turnoInput" id="turnoInput-2" value="3" type="checkbox">
							      Noturno
							    </label>
							  </div>
							</div>
						</div>

					</div>
				</div></br>

				<div class="row">
					<div class="col-md-12">
						<!-- Prepended text-->
				
						  <div class="col-md-3">
						    <div class="input-group">
						      <span class="input-group-addon">A cada</span>
						      <input id="periodoInput" name="periodoInput" class="form-control" placeholder="" required="" type="text">
						    </div>
						    
						  </div>
						
						 <div class="col-md-3">
						<!-- Select Basic -->
							<div class="form-group">
							  
							    <select id="selectbasic" name="selectbasic" class="form-control">
							      <option value="horas">horas</option>
							      <option value="dias">dias</option>
							      <option value="semanas">semanas</option>
							    </select>
							  
							</div>
						</div>

						<!-- Prepended text-->
						
						 <div class="col-md-3">
						    <div class="input-group">
						      <span class="input-group-addon">Duração</span>
						      <input id="durInput" name="durInput" class="form-control" placeholder="" required="" type="text">
						    </div>
						    
						</div>

						<div class="col-md-3">
						<!-- Select Basic -->
							<div class="form-group">
							 
							  
							    <select id="selectbasic" name="selectbasic" class="form-control">
							      <option value="vezes">vezes</option>
							      <option value="dias">dias</option>
							      <option value="meses">meses</option>
							      <option value="anos">anos</option>
							    </select>
							 </div>
						</div>

					</div>
				</div>
		   	</div>
		</div>

 	</div>
  	
</div>