 <!DOCTYPE html>
<div class="panel panel-default">
 	<div class="panel-heading" role="tab" id="headingOne" style="background-color:green">
 		<a class='colapssed' role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Medicamento #1</a>
 	</div>
 	<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
 		<div class="panel-body">
	  		<div class="col-md-12">
		  		<!-- Prepended text-->
		  		<div calss='row'>
		  			<div class="col-md-8">
						
						    <div class="input-group">
						      <span class="input-group-addon">Nome</span>
						      <input id="prependedtext" name="prependedtext" class="form-control"  required type="text" ng-model="prMedicamento">
						    </div>			
						
					</div>
					<div class="col-md-4">
					<!-- Prepended text-->
						  
						    <div class="input-group">
						      <span class="input-group-addon">Concentração</span>
						      <input id="concInput" name="concInput" class="form-control" ng-model="prConcentracao" type="text">
						    </div>
						
					</div>
				</div></br></br>

				<div class="row">
					<div class="col-md-12">

					<!-- Prepended text-->
						 
						<div class="col-md-2">
						    <div class="input-group">
						      <span class="input-group-addon">Dosagem</span>
						      <input id="dosInput" name="dosInput" class="form-control" required ng-model="prDosagem" type="text">
						    </div>
						    
						</div>
						
						<!-- Select Basic -->
						  
						<div class="col-md-2">
						    <select id="selectbasic" ng-model="prDosagemTipo" class="form-control">
						      <option value="unidades">unidades</option>
						      <option value="ml">ml</option>
						      <option value="colheres">colheres</option>
						    </select>
						</div>

						<div class="col-md-8">
						<!-- Multiple Checkboxes (inline) -->
							<div class="form-group">
							  <label class="col-md-2 control-label">Turno:</label>
							  <div class="col-md-6">
							    <label class="checkbox-inline">
							      <input ng-model="prMatutino" type="checkbox">
							      Matutino
							    </label>
							    <label class="checkbox-inline" >
							      <input ng-model="prVespertino" type="checkbox">
							      Vespertino
							    </label>
							    <label class="checkbox-inline">
							      <input ng-model="prNoturno" type="checkbox">
							      Noturno
							    </label>
							  </div>
							</div>
						</div>

					</div>
				</div></br>

				<div class="row">
					<div class="col-md-12">
						<!-- Prepended text-->
				
						  <div class="col-md-3">
						    <div class="input-group">
						      <span class="input-group-addon">A cada</span>
						      <input ng-model="prPeriodo" class="form-control" required type="text">
						    </div>
						    
						  </div>
						
						 <div class="col-md-3">
						<!-- Select Basic -->
							<div class="form-group">
							  
							    <select id="selectbasic" ng-model="prPeriodoTipo" class="form-control">
							      <option value="horas">horas</option>
							      <option value="dias">dias</option>
							      <option value="semanas">semanas</option>
							    </select>
							  
							</div>
						</div>

						<!-- Prepended text-->
						
						 <div class="col-md-3">
						    <div class="input-group">
						      <span class="input-group-addon">Duração</span>
						      <input ng-model="prDuracao" class="form-control" required type="text">
						    </div>
						    
						</div>

						<div class="col-md-3">
						<!-- Select Basic -->
							<div class="form-group">
							 
							  
							    <select ng-model="prDuracaoTipo" class="form-control">
							      <option value="vezes">vezes</option>
							      <option value="dias">dias</option>
							      <option value="meses">meses</option>
							      <option value="anos">anos</option>
							    </select>
							 </div>
						</div>

					</div>
				</div>
				</div> 
				<br> </br>
				<div class="row">
					<div class="col-md-4">
			  			<button type="submit" class="btn btn-default" ng-click="prAdcionar()">Salvar</button></
		  			</div>
				</div>
		   	</div>
		</div>

 	</div>
  	
</div>