 <!DOCTYPE html>
<div class="panel-group">
	<div class="panel panel-primary" style =" border-color:green;">
	 	<div class="panel-heading"  style="background-color:green" ng-click="collapsePanel('med1','iconMed')">Medicamento <span id="iconMed" class="glyphicon glyphicon-menu-up" aria-hidden="true"></span></div>
 		<div id="med1" class="panel-body panel-collapse collapse in">
	  		<div class="col-md-12">
		  		<!-- Prepended text-->
		  		<div calss='row'>
		  			<div class="col-md-8">
						
						    <div class="input-group">
						      <span class="input-group-addon">Nome</span>
						      <input  id="prMedicamento1" class="form-control"  required type="text" ng-model="prMedicamento1" ng-disabled='edit'>
						    </div>			
						
					</div>
					<div class="col-md-4">
					<!-- Prepended text-->
						  
						    <div class="input-group">
						      <span class="input-group-addon">Concentração</span>
						      <input id="prConcentracao1" class="form-control" ng-model="prConcentracao1" type="text" ng-disabled='edit'>
						    </div>
						
					</div>
				</div></br></br>

				<div class="row">
					<div class="col-md-12">

					<!-- Prepended text-->
						 
						<div class="col-md-2">
						    <div class="input-group">
						      <span class="input-group-addon">Dosagem</span>
						      <input id="prDosagem1"  class="form-control" required ng-model="prDosagem1" type="text" ng-disabled='edit'>
						    </div>
						    
						</div>
						
						<!-- Select Basic -->
						  
						<div class="col-md-2">
						    <select id="prDosagemTipo1" ng-model="prDosagemTipo1" class="form-control" ng-disabled='edit'>
						      <option value="unidades">unidades</option>
						      <option value="ml">ml</option>
						      <option value="colheres">colheres</option>
						    </select>
						</div>

						<div class="col-md-8">
						<!-- Multiple Checkboxes (inline) -->
							<div class="form-group">
							  <label class="col-md-2 control-label">Turno:</label>
							  <div class="col-md-6">
							    <label class="checkbox-inline">
							      <input id="prMatutino1" ng-model="prMatutino1" type="checkbox" ng-disabled='edit'>
							      Matutino
							    </label>
							    <label class="checkbox-inline" >
							      <input id="prVespertino1" ng-model="prVespertino1" type="checkbox" ng-disabled='edit'>
							      Vespertino
							    </label>
							    <label class="checkbox-inline">
							      <input id="prNoturno1" ng-model="prNoturno1" type="checkbox" ng-disabled='edit'>
							      Noturno
							    </label>
							  </div>
							</div>
						</div>

					</div>
				</div></br>

				<div class="row">
					<div class="col-md-12">
						<!-- Prepended text-->
				
						  <div class="col-md-3">
						    <!-- Prepended text-->
						    <div class="input-group">
						      <span class="input-group-addon">A cada</span>
						      <input id="prPeriodo1" ng-model="prPeriodo1" class="form-control" required type="text" ng-disabled='edit'>
						    </div>
						    
						  </div>
						
						 <div class="col-md-3">
						<!-- Select Basic -->
							<div class="form-group">
							  
							    <select id="prPeriodoTipo1" ng-model="prPeriodoTipo1" class="form-control" ng-disabled='edit'>
							      <option value="horas">horas</option>
							      <option value="dias">dias</option>
							      <option value="semanas">semanas</option>
							    </select>
							  
							</div>
						</div>

						<!-- Prepended text-->
						
						 <div class="col-md-3">
						    <div class="input-group">
						      <span class="input-group-addon">Duração</span>
						      <input id="prDuracao1" ng-model="prDuracao1" class="form-control" required type="text" ng-disabled='edit'>
						    </div>
						    
						</div>

						<div class="col-md-3">
						<!-- Select Basic -->
							<div class="form-group">
							 
							  
							    <select id="prDuracaoTipo1" ng-model="prDuracaoTipo1" class="form-control" ng-disabled='edit'>
							      <option value="vezes">vezes</option>
							      <option value="dias">dias</option>
							      <option value="meses">meses</option>
							      <option value="anos">anos</option>
							    </select>
							 </div>
						</div>

					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group" >
						  <label class="col-md-2 control-label">Observações</label>
						  <div class="col-md-10">                     
						    <textarea id="prObs1"style="width: 100%; height: 150px;" class="form-control" ng-model="prObs1" ng-disabled='edit'></textarea>
						  </div>
						</div>
					</div>
				</div>
				<br> </br>
				<div class="row">
					<div class="col-md-12">
			  			<button id="prSalvar1" class="btn btn-default" ng-click="prAdcionar(1)" ng-hide='edit || update'>Salvar</button>
			  			<!--<button  class="btn btn-default" ng-click="" ng-hide='!update'>Atualizar</button>
			  			<button id="prSalvar1" class="btn btn-default" ng-click="" ng-hide='!edit' hide >Apagar</button>-->
			  		</div>	
				</div>
		   	</div>  	
		</div>
	</div>
</div>
